<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>carrousel</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="main">
		<div class="wrap">
			<section id="carrousel">
				<div class="c-box">
					<ul id="slide">
						<li><a href="#"><img src="images/carrousel/4.jpg" alt="圆梦巨人"></a></li>
						<li><a href="#"><img src="images/carrousel/0.jpg" alt="机械师2：复活"></a></li>
						<li><a href="#"><img src="images/carrousel/1.jpg" alt="爵迹"></a></li>
						<li><a href="#"><img src="images/carrousel/2.jpg" alt="名侦探柯南：纯黑的噩梦"></a></li>
						<li><a href="#"><img src="images/carrousel/3.jpg" alt="萨利机长"></a></li>
						<li><a href="#"><img src="images/carrousel/4.jpg" alt="圆梦巨人"></a></li>
						<li><a href="#"><img src="images/carrousel/0.jpg" alt="机械师2：复活"></a></li>
					</ul>
					<span id="prev" class="prev">&lt;</span>
					<span id="next" class="next">&gt;</span>
					<div id="identification" class="identification">
						<span index="1" class="active"></span>
						<span index="2"></span>
						<span index="3"></span>
						<span index="4"></span>
						<span index="5"></span>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>