@charset utf-8;

#main {
	background: rgba(156, 180, 191, 0.7);
}

#main .wrap {
	margin: 0 auto;
	padding-top: 2rem;
	width: 70%;
	background: transparent;
}

.odd, .even {
	display: -webkit-box; 
	display: -moz-box;  
	display: -ms-flexbox;  
	display: -webkit-flex; 
	display: flex;  
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap:wrap;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
}

.even {
	margin: 1rem 0;
	height: 4rem;
	line-height: 4rem;
	text-indent: 1.5rem;
	border: 0.1rem solid #d2e4ff;
	border-radius: 0.2rem;
	background: #d9edf7;
}

.even a {
	color: #36f;
}

.odd {
	padding: 1%;
	background: #f5f5f5;
}

.odd h2 {
	font: 1.5rem/2rem '宋体';
	text-indent: 0.6rem;
	border-left: 0.2rem solid #666;
}

.odd div {
	margin: 1%;
	padding: 0.5%;
	width: 23%;
	height: 5rem;
	box-sizing: border-box;
	border: 0.1rem solid #ccc;
	-moz-box-shadow: 0 0 0.5rem #ccc;
	-webkit-box-shadow: 0 0 0.5rem #ccc;
	box-shadow: 0 0 0.5rem #ccc;
	background: #fff;
}

/*上面设置margin和padding以百分比形式表示，在firefox下显示为0，故此处对firefox做hack*/
@-moz-document url-prefix()  {
	.odd div {
		margin: 0.68rem;
		padding: 0.5rem;
	}
}

.odd p {
	margin-bottom: 0.5rem;
	line-height: 1.2rem;
}

.odd a {
	color: #000;
}

.odd span {
	font-size: 0.8rem;
	color: #666;
}





