<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>folding menu</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="container">
		<div id="menu">
			<dl class="unfold">
				<dt>menu1<span></span></dt>
				<dd>item1</dd>
				<dd>item2</dd>
				<dd>item3</dd>
			</dl>
			<dl>
				<dt>menu2<span></span></dt>
				<dd>item1</dd>
				<dd>item2</dd>
				<dd>item3</dd>
			</dl>
			<dl>
				<dt>menu3<span></span></dt>
				<dd>item1</dd>
				<dd>item2</dd>
				<dd>item3</dd>
			</dl>
		</div>
	</div>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>