<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTML/CSS page</title>
	<link rel="stylesheet" href="../../styles/reset.css">
	<link rel="stylesheet" href="../../styles/layout.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div id="container">
		<header id="head">
			<div id="logo">
				<img src="../../images/logo.png" alt="logo">
			</div>
			<div class="h1">
				<h1>白马的平行空间</h1>
				<p>————磨难是装饰日常的花束</p>
			</div>
			<nav id="nav" class="clear">
				<a href="../../index.html">首页</a>
				<a href="../static_pages/static_pages.html">静态页面</a>
				<a href="../components/components.html" class="active">前端组件</a>
				<a href="../apps/apps.html">趣味应用</a>
			</nav>
			<hr>
		</header>
		<div id="main">
			<div class="wrap">
				<div class="box">
					<h2><span>——这里是一些常用的前端组件</span></h2>
					<ul class="item">
						<li><a href="modules/侧边栏/index.html">侧边栏</a></li>
						<li><a href="modules/可拖动的弹出窗口/index.html">可拖动的弹出窗口</a></li>
						<li><a href="modules/搜索框/index.html">搜索框</a></li>
						<li><a href="modules/瀑布流布局/index.html">瀑布流布局</a></li>
						<li><a href="modules/Tab选项卡/index.html">Tab选项卡</a></li>
						<li><a href="modules/对话框/index.html">对话框</a></li>
						<li><a href="modules/轮播图/index.html">轮播图</a></li>
						<li><a href="modules/折叠菜单/index.html">折叠菜单</a></li>
					</ul>
				</div>
			</div>
		</div>
		<footer id="foot">
			<div class="wrap clear">
				<div class="declaration">
					<h6>免责声明：</h6>
					<p>本项目中所有素材都是在互联网上搜集而来，仅供测试和学习交流。若侵犯了您的权益，请发邮件通知站长。</p></p>
				</div>
				<div class="contact">
					<h6>联系方式</h6>
					<p>邮箱：08mydream@163.com</p></p>
				</div>
				<div class="links">
					<h6>快速链接：</h6>
					<p>
						<a href="http://www.baidu.com">百度</a>
						<a href="http://sports.sina.com.cn/">新浪体育</a>
						<a href="http://www.zhibo8.cc/zuqiu/index_old.htm">直播吧</a>
					</p></p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>